/** @format */

.container {
  min-height: 50vh;
  width: 100%;
  padding: 5rem 15rem;
  border-top: 1px solid #222;
}

.header {
  margin-bottom: 5rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: var(--orange);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}
