/** @format */

.container {
  padding: 4rem;
  /* border-radius: 10px; */
  background: #121212;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  border: 1px dashed #222;
}

.title {
  font-size: 3rem;
}
.description {
  max-width: 70ch;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.view_project_button {
  color: var(--orange);
}

.view_project_button,
.view_code_button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid var(--orange);
}

.view_code_button {
  background-color: var(--orange);
}

.view_project_button svg,
.view_code_button svg {
  height: 1.5rem;
}

.top_left_corner,
.top_right_corner,
.bottom_left_corner,
.bottom_right_corner {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: var(--orange);
  box-shadow: 0 0 10px 1px var(--orange);
  transition: box-shadow 0.1s ease-out, background-color 0.1s ease-out;
}

.top_left_corner {
  left: -1px;
  top: -1px;
}

.top_right_corner {
  right: -1px;
  top: -1px;
}

.bottom_left_corner {
  left: -1px;
  bottom: -1px;
}

.bottom_right_corner {
  right: -1px;
  bottom: -1px;
}

.container:hover .top_left_corner,
.container:hover .top_right_corner,
.container:hover .bottom_left_corner,
.container:hover .bottom_right_corner {
  box-shadow: 0 0 10px 2px teal;
  background-color: teal;
}

.screenshot_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  
  width: 500px;
  min-width: 500px;
  border-radius: 5px;
  overflow: hidden;
  opacity: 1;
}

.screenshot_container img {
  height: 100%;
  position: absolute;
  right: 0;
  border-left: 1px dashed #222;

}