/** @format */

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 5px;
  padding: 1rem 10rem;
  z-index: 10;

  transition: padding 0.2s ease, background-color 0.2s ease, backdrop-filter 0.2s ease;
}

.collapsed {
  padding: 0.2rem 10rem;
}

.opaque {
  background-color: #151515d5;
  border-bottom: 1px solid #222;
  backdrop-filter: blur(5px);
}

.left {
  position: relative;
  height: 4rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  gap: 8rem;
}

.logo {
  height: 3rem;
}

.call_to_action {
  height: 3.5rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem 2rem; */
  background-color: var(--primary);
  transition: background-color 0.1s ease-out;
  gap: 0.5rem;
  position: relative;
}

.call_to_action:hover {
  background-color: var(--secondary);
}

.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.5rem #ffffff5b);
  }
}


@media (width < 800px) {
  .container {
    padding: 1rem 5rem;

  }

}

@media (width < 600px) {
  .container {
    padding: 1rem 2rem;

  }

}

@media (width < 525px) {
  .container {
    padding: 1rem 2rem;
  }
}